name: CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 8.15.4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm format
      - run: pnpm lint
      - run: pnpm --filter @nulldiary/ingestion test
      - run: pnpm --filter @nulldiary/admin test
      - run: pnpm --filter @nulldiary/public test
